body {
    background: #000000;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
  }
  
  app-sidebar {
    width: 250px;
    min-height: 100vh;
  }
  
  .page-contact-us {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 50px 0;
    min-height: 100vh;
  }
  
  /* Centrage horizontal et vertical */
  .page-contact-us .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }
  
  /* Formulaire */
  .contact-us-form {
    background: linear-gradient(145deg, #1b1a1a, #000000);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    color: white;
    box-shadow: 0 6px 16px rgba(255, 153, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  

  
  .section-title h2 {
    font-size: clamp(24px, 2vw, 36px);
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Champs */
  .contact-us-form .form-label {
    font-size: 14px;
    color: #ffffff;
  }
  
  .contact-us-form .form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  .contact-us-form .form-group {
    margin-bottom: 20px;
  }
  
  /* Messages d'erreur */
  .error-message {
    color: #f96e0b;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Bouton */
  .contact-us-form .btn-default {
    background-color: #f96e0b;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .contact-us-form .btn-default:hover {
    background-color: #d85a09;
  }
  
  .contact-us-form .btn-default:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .contact-us-form {
      padding: 25px;
    }
  
    .section-title h2 {
      font-size: 24px;
    }
  
    .contact-us-form .form-control,
    .contact-us-form .btn-default {
      font-size: 14px;
    }
  }
  