body {
    background: #000000;
    color: white;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
  }

  app-sidebar {
    width: 250px;
    min-height: 100vh;
  }
  
/* Conteneur principal */
.container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centrage */
    align-items: flex-start;
    padding-top: 70px;
    width: 95%; /* Occupe plus d'espace */
    max-width: 1000px; /* Plus large */
    margin: 0 auto; /* Centrer horizontalement */

  }

  .return-icon {
    font-size: 24px;
    color: #f96e0b;
    cursor: pointer;
    position: absolute;
    left: 290px;
    top: 20px;
}


  .card {
    background: linear-gradient(145deg, #272727, #000000);
    border-radius: 8px;
    width: 95%; /* Augmenter la largeur */
    max-width: 1200px; /* Largeur max augmentée */
    text-align: center;
    padding: 20px;
  }

  .card-header {
    background: linear-gradient(145deg, #272727, #000000);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* Upload de logo */
.logo-upload-container {
    text-align: center;
    margin-top: 20px;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px dashed #f96e0b;
    padding: 15px;
    border-radius: 6px;
    color: #f96e0b;
    transition: background 0.3s;
}

.upload-label:hover {
    background: rgba(255, 153, 0, 0.1);
}

.upload-label i {
    font-size: 24px;
}

.upload-label p {
    margin: 5px 0 0;
    font-size: 14px;
}

.logo-preview-container {
    margin-top: 10px;
}

.logo-preview {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #f96e0b;
}

/* Formulaire */
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 15px;
}

.input-group label {
    font-size: 14px;
    color: #fff;
}

.input-group input {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    background-color: #333;
    color: #fff;
}

/* Bouton */
.btn-default {
    background-color: #f96e0b;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-default:disabled {
    background-color: #f96e0b;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

.error-message {
    color: #f96e0b; /* Orange */
    font-size: 12px;
    margin-top: 5px;
}

.input-group textarea {
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    background-color: #333;
    color: #fff;
    resize: vertical;
  }
  