body {
  background: #000000;
  color: white;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

app-sidebar {
  width: 250px;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center; /* Centrage */
  align-items: flex-start;
  padding-top: 70px;
  width: 95%; /* Occupe plus d'espace */
  max-width: 1200px; /* Plus large */
  margin: 0 auto; /* Centrer horizontalement */
}

.card {
  background: linear-gradient(145deg, #272727, #000000);
  border-radius: 8px;
  width: 95%; /* Augmenter la largeur */
  max-width: 1200px; /* Largeur max augmentée */
  text-align: center;
  padding: 20px;
}


.card-header {
  background: linear-gradient(145deg, #272727, #000000);
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-ajouter {
  background: #f96e0b;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-ajouter:hover {
  background: #d85a09;
}

.table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 14px;
  border: 1px solid #333;
  color: white;
}

th {
  background: #1e1e1e;
  font-weight: bold;
  color: #f96e0b;
}

.service-img {
  width: 100px; /* Augmenté */
  height: 70px; /* Augmenté */
  border-radius: 8px;
  object-fit: cover;
}

.btn-action {
  border: none;
  padding: 8px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-edit {
  color: white;
}

.btn-edit:hover {
  color: #f96e0b;
}

.btn-delete {
  color: white;
}

.btn-delete:hover {
  color: #f96e0b;
}

/* Même CSS que pour services-brands.component.css */
.service-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* Avatar style */
.brand-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

/* Badge design */
.badge {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
  font-size: 14px;
}

.badge-actif {
  background-color: #008000;
  color: white;
}

.badge-bloque {
  background-color: #8B0000;
  color: white;
}

