<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Bridge</title>

    <!-- Libraries CSS -->
    <link rel="stylesheet" href="/assets/font/flaticon_jio_-_influencer.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="/assets/vendor/plyr/plyr.css">
    <link rel="stylesheet" href="/assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="/assets/vendor/no-ui-slider/nouislider.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <!-- HEADER SECTION START -->
    <app-navbar></app-navbar>
    <!-- HEADER SECTION END -->

    <main>
        <!-- BANNER SECTION START -->
        <section class="jo-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Page Header Box Start -->
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">
                                Oups ! <span>Page introuvable</span>
                            </h1>
                            <nav class="wow fadeInUp" data-wow-delay="0.25s">
                                <ol class="breadcrumb">
                              
                                </ol>
                            </nav>
                        </div>
                        <!-- Page Header Box End -->
                    </div>
                </div>
            </div>

            <!-- Error Section Start -->
                <header class="top-header">
              </header>
              
              <!--dust particel-->
              <div>
                <div class="starsec"></div>
                <div class="starthird"></div>
                <div class="starfourth"></div>
                <div class="starfifth"></div>
              </div>
              <!--Dust particle end--->
              
              
              <div class="lamp__wrap">
                <div class="lamp">
                  <div class="cable"></div>
                  <div class="cover"></div>
                  <div class="in-cover">
                    <div class="bulb"></div>
                  </div>
                  <div class="light"></div>
                </div>
              </div>
              <!-- END Lamp -->
              <section class="error">
                <!-- Content -->
                <div class="error__content">
                  <div class="error__message message">
                    <h1 class="message__title">404!</h1>
                    <p class="message__text">La page que vous recherchez n'existe pas.</p>
                  </div>
                  <div class="error-page-content-body">
                    <a class="btn-default wow fadeInUp" data-wow-delay="0.5s" (click)="goToHome()"><span>Retour à l'accueil</span></a>
                </div>
                  <div class="error__nav e-nav">
                  </div>
                </div>
            
                <!-- END Content -->
              
              </section>
              
            <!-- Error Section End -->
        </section>
        <!-- BANNER SECTION END -->

    </main>

    <app-footer></app-footer>

    <!-- Libraries JS -->
    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/splide/splide.min.js"></script>
    <script src="/assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="/assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="/assets/vendor/plyr/plyr.polyfilled.js"></script>
    <script src="/assets/vendor/no-ui-slider/nouislider.min.js"></script>
    <script src="/assets/vendor/fs-lightbox/fslightbox.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/main.js"></script>
</body>

</html>
