<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Market Bridge</title>

    <link rel="stylesheet" href="/assets/font/flaticon_jio_-_influencer.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/assets/vendor/splide/splide.min.css" />
    <link rel="stylesheet" href="/assets/vendor/plyr/plyr.css" />
    <link rel="stylesheet" href="/assets/vendor/slim-select/slimselect.css" />
    <link rel="stylesheet" href="/assets/vendor/no-ui-slider/nouislider.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body>
    <app-navbar-brands-auth></app-navbar-brands-auth>
    <br>

    <section class="page-contact-us">
        <div class="container">
            <a href="javascript:history.back()">
                <i class="fa-solid fa-arrow-left return-icon"></i>
            </a>
            <div class="contact-us-form">
                <div class="section-title">
                    <h2 class="text-anime-style-2">Gérer mon <span>Profil Marque</span></h2>
                </div>
                <!-- Avatar Section avec overlay -->
                <div class="form-layout-wrapper">
                    <!-- Avatar à gauche -->
                    <div class="left-side">
                        <div class="avatar-hover-wrapper">
                            <input type="file" id="avatarUpload" (change)="onFileChange($event)" hidden>
                            <label for="avatarUpload" class="avatar-overlay">
                                <img src="/assets/img/banner-2-img.png" alt="Avatar actuel" class="avatar-img-hover" />
                                <div class="avatar-hover-text">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <p>Changer l’image</p>
                                </div>
                            </label>
                            <p class="avatar-legend">Avatar actuel</p>
                        </div>
                    </div>

                    <!-- Formulaire -->
                    <div class="right-side">

                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                            <div class="row">


                                <!-- Champ Nom de la marque -->
                                <div class="form-group col-md-6">
                                    <label>Nom complet</label>
                                    <input type="text" class="form-control" formControlName="fullName"
                                        placeholder="Nom complet" />
                                    <div *ngIf="profileForm.get('fullName')?.touched && profileForm.get('fullName')?.invalid"
                                        class="error-message">
                                        Le nom complet est requis.
                                    </div>
                                </div>

                                <!-- Champ Email -->
                                <div class="form-group col-md-6">
                                    <label>Adresse e-mail</label>
                                    <input type="email" class="form-control" formControlName="email"
                                        placeholder="Adresse e-mail" />
                                    <div *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid"
                                        class="error-message">
                                        <span *ngIf="profileForm.get('email')?.hasError('required')">L’adresse e-mail
                                            est requise.</span>
                                        <span *ngIf="profileForm.get('email')?.hasError('email')">Format
                                            invalide.</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Nom du la marque</label>
                                    <input type="text" class="form-control" formControlName="brandName"
                                        placeholder="Nom du la marque" />
                                    <div *ngIf="profileForm.get('brandName')?.touched && profileForm.get('brandName')?.invalid"
                                        class="error-message">
                                        Le nom du la marque est requis.
                                    </div>
                                </div>
                                    <!-- Sélection du pays -->
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="country">Sélectionner le pays</label>
                                        <select id="country" formControlName="country" class="form-control" (change)="onCountryChange($event)">
                                            <!-- Affichage des pays sans code dans la liste -->
                                            <option value="TN" selected>Tunisie</option>
                                            <option value="US">États-Unis</option>
                                            <option value="FR">France</option>
                                            <option value="DE">Allemagne</option>
                                            <option value="GB">Royaume-Uni</option>
                                            <option value="IT">Italie</option>
                                            <option value="ES">Espagne</option>
                                            <option value="CA">Canada</option>
                                            <!-- Ajoutez d'autres pays ici -->
                                        </select>
                                    </div>

                                    <!-- Numéro de téléphone -->
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="phone">Numéro de téléphone</label>
                                        <input 
                                        id="phone" 
                                        type="text" 
                                        formControlName="phoneNumber" 
                                        class="form-control" 
                                        [(ngModel)]="phoneNumber" 
                                        [placeholder]="phonePlaceholder" />
                                      <div *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched" class="error-message">
                                        <small *ngIf="profileForm.get('phoneNumber')?.hasError('required')">Le numéro de téléphone est requis.</small>
                                      </div>
                                    </div>

                                <!-- Champ Mot de passe -->
                                <div class="form-group col-md-6">
                                    <label>Nouveau mot de passe</label>
                                    <input type="password" class="form-control" formControlName="newPassword"
                                        placeholder="Nouveau mot de passe" />
                                    <div *ngIf="profileForm.get('newPassword')?.touched && profileForm.get('newPassword')?.invalid"
                                        class="error-message">
                                        <span *ngIf="profileForm.get('newPassword')?.hasError('minlength')">Min. 8
                                            caractères requis.</span>
                                    </div>
                                </div>


                                <!-- Soumettre -->
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn-default" [disabled]="profileForm.invalid">Mettre à
                                        jour</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>

    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/splide/splide.min.js"></script>
    <script src="/assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="/assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="/assets/vendor/plyr/plyr.polyfilled.js"></script>
    <script src="/assets/vendor/no-ui-slider/nouislider.min.js"></script>
    <script src="/assets/vendor/fs-lightbox/fslightbox.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>