<p>brand-requests works!</p>
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- libraries CSS -->
    <link rel="stylesheet" href="/assets/font/flaticon_jio_-_influencer.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="/assets/vendor/plyr/plyr.css">
    <link rel="stylesheet" href="/assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="/assets/vendor/no-ui-slider/nouislider.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <app-sidebar></app-sidebar>

    <div class="container">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            Demandes des Marques
          </div>
      
          <table class="table">
            <thead>
              <tr>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Pays</th>
                <th>Nom de Marque</th>
                <th>Numéro</th>
                <th>Pack demandé</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let demande of demandes">
                <td>{{ demande.nomComplet }}</td>
                <td>{{ demande.email }}</td>
                <td>{{ demande.pays }}</td>
                <td>{{ demande.nomMarque }}</td>
                <td>{{ demande.telephone }}</td>
                <td>{{ demande.pack }}</td>
                <td>
                  <button class="btn btn-action btn-edit" (click)="ajouterContenu(demande)" title="Ajouter un contenu">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    <!-- libraries JS -->
    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/splide/splide.min.js"></script>
    <script src="/assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="/assets/vendor/plyr/plyr.polyfilled.js"></script>
    <script src="/assets/vendor/no-ui-slider/nouislider.min.js"></script>
    <script src="/assets/vendor/fs-lightbox/fslightbox.js"></script>

    <!-- custom JS -->
    <script src="/assets/js/main.js"></script>

</body>

</html>
